.grid-c4 {
  .grid-c4-content {
    padding: 12px;
    border-radius: 16px;
  }

  .grid-c-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .gird-item {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .grid-item-l {
    display: flex;
    column-gap: 16px;
    img {
      width: 18px;
    }

    .text {
      font-weight: 600;

      span {
        display: block;
        font-weight: 400;
      }
    }
  }
}
