.container {
  display: flex;
  height: 100vh; /* 默认使用vh */
}

@supports (-webkit-touch-callout: none) {
  .container {
    height: -webkit-fill-available; /* Safari 使用 -webkit-fill-available */
  }
}
