.grid-c6 {
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
}

.grid-c6-content {
  .fees {
    display: flex;
    flex-direction: column;
  }
  .saving-item {
    .saving-top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .fee-l {
        display: flex;
        align-items: center;
        column-gap: 10px;
        .avatar {
          border-radius: 100%;
          overflow: hidden;
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .fee-r {
        font-weight: 600;
      }
    }
    .saving-bottom {
      margin-top: 10px;
      .saving-badges {
        display: flex;
        flex-wrap: wrap;
        .badge-item {
          color: #8a8587;
          background-color: var(--clr-jet);
          font-size: 14px;
          border-radius: 16px;
          margin-top: 5px;
          margin-bottom: 5px;
          margin-right: 5px;
          padding: 4px 6px;
          text-align: center;
        }
      }

      .saving-progress {
        height: 10px;
        background-color: var(--clr-primar-light);
        border-radius: 10px;
        margin-top: 10px;

        .saving-fill {
          height: 10px;
          background-color: var(--clr-pumpkin);
          border-radius: 10px;
          animation: LtoR 1s ease-out forwards;
        }
      }

      .saving-fill:hover {
        border: 2px solid #fff;
        transition: all 0.5s;
      }
    }
  }
}

@keyframes LtoR {
  from {
    width: 0;
  }

  to {
    max-width: 100%;
  }
}
