.grid-c1 {
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  border-radius: 12px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 8px 24px;
}
.grid-c1-content {
  background: linear-gradient(
      114.07deg,
      rgba(66, 59, 55, 0.6) 3.49%,
      rgba(66, 59, 55, 0) 34.7%
    ),
    linear-gradient(138.58deg, rgba(59, 43, 30, 0.37) 43.56%, #fea767 112.68%);
  flex: 1;
  padding: 16px;
  border-radius: 10px;
}

.lg-value {
  color: #c7c4c6;
  font-size: 24px;
  font-weight: 600;
  margin-top: 8px;
  margin-bottom: 14px;
}
.card-wrapper {
  display: flex;
  font-size: 18px;
  color: #8a8587;
}

.card-hidden {
  font-size: 32px;
  margin-right: 8px;
}

.card-bottom {
  display: flex;
  justify-content: space-between;
}

.card-logo {
  display: flex;
}

.logo-shape1 {
  width: 36px;
  height: 36px;
  background-color: var(--clr-scarlet-v1);
  border-radius: 100%;
  margin-right: -15px;
  z-index: 0;
}

.logo-shape2 {
  width: 36px;
  height: 36px;
  background-color: var(--clr-yellow);
  border-radius: 100%;
}

@media screen and (max-width: 711px) {
  .grid-c1 {
    grid-column: 1/3;
  }
}
