.grid-c7 {
  .grid-c7-content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .grid-r-item {
      margin-bottom: 10px;
    }

    .grid-r {
      margin-left: 20px;
    }
  }
}
